{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ]
      ],
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ]
      ],
      "presets": [
        "next/babel"
      ]
    }
  },
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "utils": "./utils",
          "pages": "./pages"
        }
      }
    ]
  ]
}