{
  "extends": [
    "airbnb",
    "react-app",
    "eslint-config-prettier"
  ],
  "globals": {
    "window": false,
    "document": false,
    "fetch": false
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 3
        },
        "ObjectPattern": {
          "multiline": false
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "max-len": [
      2,
      {
        "code": 120
      }
    ],
    "import/extensions": 0,
    "dot-notation": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "func-names": [
      "off",
      "as-needed"
    ],
    "semi": "error",
    "linebreak-style": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "react/jsx-curly-newline": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-state": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [
      2,
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "react/state-in-constructor": [
      2,
      "never"
    ],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "import/no-unresolved": 0,
    "prefer-destructuring": 0,
    "class-methods-use-this": 0,
    "quotes": [
      "warn",
      "double"
    ],
    "no-return-assign": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "import/prefer-default-export": 0
  },
  "plugins": [
    "json",
    "markdown",
    "html"
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}